body{
    font-family:Arial;
    background:#f4f4f4;
    text-align:center;
}

#search{
    width:300px;
    padding:10px;
    margin:20px;
}

.card{
    background:white;
    width:300px;
    margin:15px auto;
    padding:15px;
    border-radius:8px;
    box-shadow:0 0 10px gray;
}

button{
    padding:8px 15px;
    margin-top:10px;
    cursor:pointer;
}

.details{
    display:none;
    margin-top:10px;
}